body {
    font-family: Consolas, Lucida Console, monospace;
}
#inputs label {
    width: 4em;
}
label {
    width: 10em;
    display: inline-block;
}
#showme {
    background-color: blue;
    border: 1px solid green;
    color: aqua;
    margin: 0 auto;
    position: relative;;
}
#showme.grid {
    display:block;
}

#inputs, #ratioinfo {
    display:inline-block;
}

#showme.grid.good {
    background-color: gold;
}